.login {
  min-height: 200px;
  margin: 77px 50px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .login {
    flex-direction: column;
  }
}
