.card {
  height: 17rem;
  width: 16rem;
  border: 1px solid #e6e6e6;
  margin-left: 30px;
}

.card:first-child {
  margin: 0px;
}

.recipe {
  height: auto;
  width: inherit;
  border: 1px solid #e6e6e6;
  overflow: auto;
  padding: 20px;
  margin: 20px 20px;
}

@media screen and (max-width: 768px) {
  .card {
    height: 11rem;
    width: 14rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: 11rem;
    width: 14rem;
  }
}

@media screen and (max-width: 400px) {
  .card {
    height: 5rem;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .recipe {
    height: auto;
    width: 100%;
    border: 1px solid #e6e6e6;

    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
}
