.ingredients {
  min-height: 200px;
  margin: 77px 50px;
}

/* .ingredients h1 {
  font-weight: 700;
  font-size: 18px;
  color: #48555b;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}

.ingredients h1 span {
  color: #fcba7e;
}

.ingredients p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;

  width: 400px;
} */

.ingredients input {
  display: block;
  height: 40px;
  width: 65%;
  margin: 100px 0 40px 0;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
}

.buttons {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
