/* .meal {
  min-height: 450px;
  margin: 4.8rem 3rem;
} */

.meals {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.image {
  height: 120px;
  width: 120px;
  margin: 40px auto;
}

.button {
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .image {
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 576px) {
  .meals {
    flex-direction: column;
  }
  .image {
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 1rem;
  }
  .button {
    margin: 0 auto;
  }
}
