/* .restrictions {
  min-height: 450px;
  margin: 77px 50px;
} */

.restrictions-cards {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.image {
  height: 120px;
  width: 120px;
  margin: 40px auto;
}

.buttons {
  margin: 40px 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .image {
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 576px) {
  .restrictions-cards {
    display: block;
  }
  .image {
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 1rem;
  }
  .buttons {
    margin: 0 auto;
    display: block;
  }
  .buttons a:first-child button {
    background-color: #575a5b;
  }
}
