.restrictions {
  min-height: 450px;
  margin: 77px 50px;
}

.restrictions-cards {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.image {
  height: 120px;
  width: 120px;
  margin: 40px auto;
}

.buttons {
  margin: 40px 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .image {
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .restrictions-cards {
    display: block;
  }
  .image {
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .buttons {
    margin: 0 auto;
    display: block;
  }
}
