.restrictions {
  min-height: 450px;
  margin: 77px 50px;
}

/* .restrictions h1 {
  font-weight: 700;
  font-size: 18px;
  color: #48555b;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}

.restrictions h1 span {
  color: #fcba7e;
}

.restrictions p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: block;
  width: 400px;
} */

.restrictions-cards {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.image {
  height: 120px;
  width: 120px;
  margin: 40px auto;
}

.buttons {
  margin: 40px 50px;
  display: flex;
  justify-content: space-between;
}
